@import "open-props/style";

body {
  background: var(--stone-10);
  font-family: var(--font-sans);
}

.title {
  color: var(--gray-0);
  text-align: center;
}

.description {
  color: var(--gray-0);
  margin-bottom: 0;
}

.link {
  color: var(--lime-5);
}
